[Unit]
Description=Get phash from URL
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 {}/listener.py
[Install]
WantedBy=multi-user.target